body {
    text-align: center;
    font-family: sans-serif;
}

header, footer {
    padding: 20px;
    background-color: #444;
    color: #fff;
}


main {
    padding: 20px;
}
.intro {
    font-family: Impact;
}
label, input {
    margin: 10px auto;
    padding: 5px;
    display: block;
}
input {
    width: 50%
}

[type="radio"] {
    margin: 0; padding:0;
    width: 20px;
    display: inline-block;
}

button {
    width: 50%;
    padding: 10px 23px;
}