/* Imports */
@import "./clearfix.css";

/* Styles */
.box {
    margin: 10px;
}

.box-1 {
    width: 100px;
    height: 100px;
    background-color: red;
    float:left;
}

.box-2 {
    width: 100px;
    height: 100px;
    background-color: green;
    float: right;
}