h1 {
    font-family: monospace;
    font-size: 32px;
    background-color: yellow;
}

h2 {
    font-style: italic;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 17px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}