.smile_face {
    margin: auto auto;
    
    width: 10rem;
    height: 10rem;
    
    border: 0.1rem solid black;
    background-color: yellow;
    border-radius: 50%;
}
.left_eye {
    width: 2.1rem;
    height: 2rem;
    
    position: relative;
    top: 2.2rem;
    left: 1rem;
    
    border: 0.1rem solid black;
    background-color: white;
    border-radius: 50%;
}
.right_eye {
    width: 2.1rem;
    height: 2rem;
    
    position: relative;
    left: 6rem;
    
    border: 0.1rem solid black;
    background-color: white;
    border-radius: 50%;
}
.mouth {
    width: 4rem;
    height: 1.5rem;
    
    position: relative;
    left: 2.8rem;
    top: 1.5rem;
    transform: skewX(30deg);
    
    border: 0.1rem solid black;
    background-color: white;
    border-radius: 45%;
}