/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Overall */
body {
    background-color: #ffd
}

body > h1 {
    color: #a50;
    text-align: center;
    font-family: cursive;
    font-size: 3rem;
}


/* Header */
header > nav {
    padding: 20px;
    background-color: #fe9;
}
header > nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
header > nav ul li a {
    text-decoration: none;
    color: #868;
}


/* Main */
img {
    padding: 20px;
    border-radius: 40px;
    width: 100%;
}

.cards {
    text-align: center;
}
.card {
    display: inline-block;
    width: 16rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: #cccccc;
    border-radius: 0.4rem;
    background-color: rgba(190, 190, 50, 0.1);

    margin: 0.8rem 0.4rem;
    padding: 0.4rem;

    /* Card Shadow Effect */
    box-shadow: 
        0 0.8rem 1.8rem rgba(0, 0, 0, 0.20),
        0 0.5rem 0.5rem rgba(0, 0, 0, 0.23);
}
.card_content {
    padding: 0.8rem;
}
.card_text {
    padding: 1rem;
    text-align: center;
}


/* Footer */
footer {
    padding: 6rem;
    text-align: center;
}