ul {
    list-style-type: none;
    background-color: cornflowerblue;
    overflow: hidden;
}

li {
    float: left;
}

li > a {
    display: inline-block;
    color: white;
    padding: 0.8em 1.7em;
    text-decoration: none;
}