h1 {
    padding: 1rem;
    text-align: center;
    background-color: rgba(45, 45, 45, 0.1);
}

p {
    text-align: justify;
}

.card {
    width: 16rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: #cccccc;
    border-radius: 0.4rem;

    margin: 0.8rem 0.4rem;
    padding: 0.4rem;
}

.card_content {
    padding: 0.8rem;
}

.card_links > a {
    margin-right: 1.1em;
}

.underline {
    text-decoration: underline;
}